@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*::selection {
  background-color: black;
  color: blue;
}

body {
  background-color: #191919;
}

.color {
  color: #F5FBEF;
}

header {
  background-color: #D05353;
}
header .navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .navbar .logo {
  width: 100px;
}
header .navbar .nav-link {
  color: #F5FBEF;
}
header .navbar .nav-link:hover {
  color: #590925;
  text-decoration: underline;
  transition: color 0.3s ease;
}
header .navbar .nav-link.active {
  color: #171D1C;
}
header .color_navbar {
  background-color: #D05353;
}

.imagencarrusel {
  width: 100%; /* O 1050px si prefieres un tamaño específico */
  height: 550px; /* Ajusta el tamaño de altura que quieras */
  object-fit: cover; /* Recorta la imagen para encajar en el contenedor sin deformarse */
}

h1 {
  text-align: center;
  padding-top: 10px;
}

.grid {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "concierto1 concierto1 concierto2 concierto3 concierto6" "concierto1 concierto1 concierto4 concierto5 concierto7";
  gap: 2rem;
  align-items: center;
}
.grid .conciertos {
  border-radius: 10px;
  overflow: hidden;
}

.grid_concierto1 {
  grid-area: concierto1;
}

.grid_concierto2 {
  grid-area: concierto2;
}

.grid_concierto3 {
  grid-area: concierto3;
}

.grid_concierto4 {
  grid-area: concierto4;
}

.grid_concierto5 {
  grid-area: concierto5;
}

.grid_concierto6 {
  grid-area: concierto6;
}

.grid_concierto7 {
  grid-area: concierto7;
}

.flex {
  display: flex;
  object-fit: cover; /* Asegura que la imagen mantenga su proporción dentro del círculo */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
  flex-wrap: wrap;
  gap: 60px;
}

.album {
  width: 300px; /* Ajusta el tamaño que quieras */
  height: 300px; /* La altura debe ser igual al ancho para que sea un círculo */
  border-radius: 50%; /* Esto crea el círculo */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción dentro del círculo */
}

.padre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 1/2/2/3;
}

.div3 {
  grid-area: 2/1/3/2;
}

.div4 {
  grid-area: 2/2/3/3;
}

.div5 {
  grid-area: 3/1/4/2;
}

.div6 {
  grid-area: 3/2/4/3;
}

.imagen {
  width: 50vw; /* 50% del ancho de la ventana */
  height: 100vh; /* 100% de la altura de la ventana */
  object-fit: cover; /* Ajusta la imagen sin distorsión */
  border-radius: 20px;
}

.tarjetitas {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  gap: 30px;
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
}
.tarjetitas .tarjetita {
  background-color: #F5FBEF;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tarjetitas .tarjetita .informacion {
  padding: 0 20px 20px 20px;
}
.tarjetitas .tarjetita .tarjeta_imagen {
  max-width: 300px;
}

h1, h2 {
  color: #F5FBEF;
}

.albunes {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: rgb(63, 94, 251);
  background: linear-gradient(0deg, rgb(63, 94, 251) 0%, rgb(25, 25, 25) 50%);
}
.albunes .agrandar {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 0.5s ease;
}
.albunes .agrandar:hover {
  width: 50%;
  opacity: 1;
  filter: contrast(120%);
}

img {
  width: 100%;
}

.fila {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.fila .columna {
  flex: 20%;
  padding: 5px;
}
.fila .columna img {
  margin-top: 5px;
}

@media (max-width: 890px) {
  .fondo {
    background-image: url("../imagenes/arte9.jpg");
    height: 100vh;
  }
  .columna {
    flex: 50%;
  }
  .contenedor {
    grid-template-areas: "caja1 caja1" "caja2 caja2";
  }
  .caja1 {
    padding-top: 40px;
  }
  .caja2 {
    background-image: url("../imagenes/arte16.jpg");
  }
}
@media (max-width: 450px) {
  .fondo {
    background-image: url("../imagenes/arte17.jpg");
    height: 100vh;
  }
  .columna {
    flex: 100%;
  }
  .contenedor {
    grid-template-areas: "caja1 caja1" "caja2 caja2";
  }
  .caja1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .caja2 {
    background-image: url("../imagenes/arte6.jpg");
  }
}

/*# sourceMappingURL=main.css.map */
