@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton+SC&family=Ga+Maamli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
}

.logo {
    width: 100px;
}

.navbar-nav .nav-link {
    color: #F5FBEF; 
}

.navbar .nav-link:hover {
    color: #590925; 
    text-decoration: underline; 
}

.navbar-nav .nav-link.active {
    color: #171D1C;
}

.color_navbar {
    background-color: #D05353;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que la navbar quede encima de otros elementos */
}

body {
    background-color: #191919;
}

/* Inicio */

.fondo {
    background-image: url('../imagenes/fondo_inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/*productos*/

.tarjetitas {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    gap: 30px;
}

.tarjetita {
    background-color: #F5FBEF;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacion {
    padding: 0 20px 20px 20px;
}

.tarjeta_imagen {
    max-width: 300px;
}

h1 {
    color: #F5FBEF;
}

h2 {
    color: #F5FBEF;
}

/* Quiénes somos */

.contenedor {
    display: grid;
    width: 100%; 
    height: 100vh; 
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    
    "caja1 caja2"
    "caja1 caja2";
}

.color {
    color: #F5FBEF;
}

.caja1 {
    grid-area: caja1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.caja2 {
    grid-area: caja2;
    width: 100%;
    background-image: url("../imagenes/arte14.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}

/* Musica */

.pantalla {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Estilos para el carrusel */

#carouselExampleFade {
    width: 100%;
    height: 100%; 
}

.carousel-inner {
    width: 100%;
    height: 100%; 
}

.carousel-item {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Arte */

img {
    width: 100%;
}

.fila {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.columna {
    flex: 20%;
    padding: 5px;
}

.columna img {
    margin-top: 5px;
}

@media (max-width: 890px) {
    .fondo {
        background-image: url('../imagenes/arte9.jpg'); /* Opcional: puedes usar una versión optimizada para tablets */
        height: 100vh; /* O bien, usa una altura diferente si es necesario */
    }
    .columna {
        flex: 50%;
    }

    .contenedor {
        grid-template-areas:
        "caja1 caja1"
        "caja2 caja2";
    }

    .caja1 {
        padding-top: 40px;
    }

    .caja2 {
        background-image: url('../imagenes/arte16.jpg');
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 450px) {
    .fondo {
        background-image: url('../imagenes/arte17.jpg'); /* Opcional: imagen optimizada para móviles */
        height: 100vh; /* Mantén la altura completa o ajústala según sea necesario */
    }

    .columna {
        flex: 100%;
    }

    .contenedor {
        grid-template-areas:
        "caja1 caja1"
        "caja2 caja2";
    }

    .caja1 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .caja2 {
        background-image: url('../imagenes/arte6.jpg');
    }
}