@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton+SC&family=Ga+Maamli&display=swap');

$fontAbel: "Abel", sans-serif;
$color_tarjetas: #F5FBEF;
$color_hover:#590925;
$color_nav: #D05353;
$color_fondo: #191919;